/*
 * Dark Blue #2c3e50
 * Darker Blue #233140
 * Green #18BC9C
 */
html {
    font-family: 'Ubuntu', sans-serif;
}
a{ color: #18BC9C; }
a:hover {
    color: #2C3E50;
    text-decoration: none;
}
.move { margin: 0px 0px 0px 60px!important; }

.material-icons { color: #18BC9C;}
.dark-blue {
    background: #2c3e50!important;
    color: #fff;
    min-height: 120px;
}
.footer-copyright {
    background:#233140!important;
}

footer .page-footer .dark-blue { background: #2c3e50!important; }
.brand-logo {
    margin: 18px 0px 0px 0px;
}
.caption {
    margin-top: -15px;
}
.dark-blue .right {
    margin: 30px 0px 0px 0px;
}
.dark-blue .right a { color:#fff; text-transform: uppercase; }
.dark-blue .right a:hover { color: #18BC9C; text-transform: uppercase; }
.button-collapse { padding: 26px 0px 0px 0px; }
.content {
    padding: 15px 0px 0px 0px;
}
.clients { color: #fff; background: url('https://unsplash.imgix.net/24/DSC02021.JPG?fit=crop&fm=jpg&h=700&q=75&w=1950') bottom no-repeat; width: 100%;}
.card-image { padding: 8px; }
.blur { color: #fff; background: url('http://wallpaper-download.net/wallpapers/abstract-wallpapers-blurred-background-wallpaper-34795.jpg') no-repeat; width: 100%;}

.prettyprint {
    border: 1px solid #e3e3e3!important;
    color: #18BC9C!important;
}
@media only screen and (max-width: 450px) {
    .clients { background: transparent; color: #111; }
    .move { margin: 0px 0px 0px 0px!important; }
}
